@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: none;
}

.logo{
    width: 300px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.494);
}
.navbar-nav{
    color: #000;
}
.nav-item{
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.titutlo_productos{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 2rem;
}
.catalogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.card{
    height: 650px;
    max-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
}
.card-title{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.card-text{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
}


.card-img-top{
    height: 150px;
    width: 300px;
    text-align: center;
   
}
.card-img-top2{
    height: 150px;
    width: 200px;
    align-items: center;
} 
.btn-primary {
    background-color: #000;
    border-color: #000;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    margin-top: 2rem;
    padding-top: 40px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}